.brandContainer {
    max-width: 1260px;
    display: flex;
    margin: 0 auto;
    gap: 1.2rem;
    padding: 1.2rem;
}

.logoContainer {
    flex: 1;
}

.logo {
    max-width: 220px;
}

.brandInfo {
    display: none;
}

.brandInfo > div {
    max-width: 200px;
    display: flex;
    gap: 8px;
}

.brandInfo > div > div:first-child {
    width: 25px;
}

.brandInfo > div > div:nth-child(2) {
    flex: 1;
}

.navContainer {
    background-color: rgba(237,28,36,1);
}

.navbarContainer {
    max-width: 1260px;
    display: flex;
    justify-content: space-between;
    padding: 0 1.2rem;
    margin: 0 auto;
}

.navbar {
    display: flex;
}

.navbar a {
    display: inline-block;
    padding: 1.2rem;
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.navbar a:hover {
    background-color: #312783;
}

.socialMediaContainer {
    display: none;
    align-items: center;
    gap: 1.2rem;
}

.socialMediaContainer a {
    border-radius: 50%;
    padding: 0.4rem 0.5rem;
}

.socialMediaContainer a:hover {
    background-color: #312783;
}

@media screen and (min-width: 640px) {
    .brandInfo {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        flex: 2;
    }

    .socialMediaContainer {
        display: flex;
    }
}

@media screen and (min-width: 720px) {
    .brandInfo {
        flex-direction: row;
    }

    .brandInfo > div {
        max-width: 100%;
    }
}